<form method = "post" action = "/sessions">
email: <input type="text" name="email">
password<input type="password" name="password">
<input type = "submit" value = "Sign in">
</form>
<a href = "/users/reset_password/send_email">Reset password</a>
